@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {

  :root {
    --background: 240 11% 95%;
    --foreground: 240 5% 8%;
    --card: 240 11% 90%;
    --card-foreground: 240 5% 10%;
    --popover: 240 11% 95%;
    --popover-foreground: 240 95% 8%;
    --primary: 240 55% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 11% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 202 11% 85%;
    --muted-foreground: 240 5% 35%;
    --accent: 202 11% 80%;
    --accent-foreground: 240 5% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 240 5% 90%;
    --border: 240 20% 50%;
    --input: 240 20% 18%;
    --ring: 240 55% 48%;
    --radius: 1rem;
  }

  .dark {
    --background: 240 11% 8%;
    --foreground: 240 5% 90%;
    --card: 240 11% 8%;
    --card-foreground: 240 5% 90%;
    --popover: 240 11% 5%;
    --popover-foreground: 240 5% 90%;
    --primary: 240 55% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 11% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 202 11% 15%;
    --muted-foreground: 240 5% 60%;
    --accent: 202 11% 15%;
    --accent-foreground: 240 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 240 5% 90%;
    --border: 240 20% 18%;
    --input: 240 20% 18%;
    --ring: 240 55% 48%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}